$primary: #ae00ff;
$dark: #0E0E0E;
$white: #FFFFFF;
$success: #ADFF00;
$secondary: #00C2FF;
$warning: #FF8A00;
$grey: #BCBCBC26;
$grey-dark: #BCBCBC40;
$header-bar: #161515;
$pink: #d87da4;

@font-face {
    font-family: 'Light';
    src: url('/font/light.otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GothicLight';
    src: url('/font/GothicDemiLight.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Regular';
    src: url('/font/regular2.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NumberFont';
    src: url('/font/number-font.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Regular2';
    src: url('/font/regular3.otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GothicRegular';
    src: url('/font/GothicDemiRegular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'LightBoxSemibold';
    src: url('/font/lightbox-semibold-1.otf');
    font-style: normal;
}

@font-face {
    font-family: 'Bold';
    src: url('/font/bold.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Bold2';
    src: url('/font/bold2.otf');
    font-weight: 900;
    font-style: normal;
}

@import '~bootstrap/scss/bootstrap';

html,
body {
    overflow-x: hidden;
    // font-size: 14px !important;
}

.bg-grey {
    background-color: $grey;
}

.bg-grey-dark {
    background-color: $grey-dark;
}

.bg-header-bar {
    background-color: $header-bar;
}

.bg-overlay {
    background-color: rgba(0, 0, 0, 0.8);
}

.bg-overlay2 {
    background-color: #BCBCBC40;
}

.bg-pink {
    background-color: $pink;
}

.bg-image-fixed {
    background-size: 450%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.bg-image {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top right;
}

.border-grey {
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100dvh;
}

.min-h-full {
    min-height: 100dvh;
}

.on-hover-zoom {
    transition: all ease-in-out 0.3s;
}

.on-hover-zoom:hover {
    transform: scale(1.02);
    transition: all ease-in-out 0.3s;
}

// size
.s-36 {
    font-size: 2.25rem;
}

.s-38 {
    font-size: 2.375rem;
}

.s-48 {
    font-size: 3rem;
}

.s-52 {
    font-size: 3.25rem;
}

.s-62 {
    font-size: 3.75rem;
}

.s-56 {
    font-size: 3.375rem;
}

.s-28 {
    font-size: 1.75rem;
}

.s-19 {
    font-size: 1.188rem;
}

.s-20 {
    font-size: 1.25rem;
}

.s-21 {
    font-size: 1.4rem;
}

.s-16 {
    font-size: 1rem;
}

.s-10 {
    font-size: 0.625rem;
}

.s-13 {
    font-size: 0.8rem;
}

// font weight
.fw-300 {
    font-family: 'Light', sans-serif;
    letter-spacing: 3.72px;
}

.fw-300-gothic {
    font-family: 'GothicLight', sans-serif;
    letter-spacing: 3.72px;
}

.fw-300-gothic-without-ls {
    font-family: 'GothicLight', sans-serif;
}

.fw-400 {
    font-family: 'Regular', sans-serif;
    letter-spacing: 3.72px;
}

.fw-400-nofont {
    font-family: 'NumberFont', sans-serif;
}

.fw-400-without-ls {
    font-family: 'Regular', sans-serif;
}

.fw-400-gothic {
    font-family: 'GothicRegular', sans-serif;
    letter-spacing: 3.72px;
    font-weight: 400;
}

.fw-400-gothic-without-ls {
    font-family: 'GothicRegular', sans-serif;
    font-weight: 400;
}

.fw-900-gothic {
    font-family: 'GothicRegular', sans-serif;
    letter-spacing: 3.72px;
    font-weight: 900;
}

.fw-900-gothic-without-ls {
    font-family: 'GothicRegular', sans-serif;
    font-weight: 900;
}

.fw-500 {
    font-family: 'Regular2', sans-serif;
    letter-spacing: 3.72px;
}

.fw-600 {
    font-family: 'LightBoxSemibold', sans-serif;
    letter-spacing: 3.72px;
    font-weight: 600;
}

.fw-600-without-ls {
    font-family: 'LightBoxSemibold', sans-serif;
    font-weight: 600;
}

.fw-700 {
    font-family: 'Bold', sans-serif;
    letter-spacing: 8.72px;
}

.fw-700-without-ls {
    font-family: 'Bold', sans-serif;
}

.fw-900 {
    font-family: 'Bold2', sans-serif;
    // letter-spacing: 8.72px;
}

// border radius
.rounded-20 {
    border-radius: 1.25rem;
}

// line height
.lh-1 {
    line-height: 1;
}

.lh-18 {
    line-height: 1.8;
}

.gradient-card1 {
    border: 1px solid transparent;
    background: linear-gradient($dark, $dark) padding-box, linear-gradient(180deg, #ADFF00 0%, rgba(104, 153, 0, 0) 100%) border-box;
    border-radius: 15px;
}

.gradient-card2,
.gradient-card3 {
    position: relative;
}

.gradient-card2::after {
    background-image: url('/border.svg');
}

.gradient-card3::after {
    background-image: url('/border2.svg');
}

.gradient-card2::after,
.gradient-card3::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top right;
}



.gradient-box {
    position: relative;
    /* Make sure to adjust if needed */
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}

.gradient-box::after,
.gradient-box::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 2px solid;
    /* Make border transparent initially */
    z-index: 1;
    /* Ensure it doesn't block clicks */
}

.gradient-box:hover::after {
    border-image-source: linear-gradient(225.99deg, var(--gredientColor) 15.5%, rgba(196, 2, 2, 0) 37.44%);
    border-image-slice: 1;
    transition: all ease-in-out 0.5s;
}

.gradient-box:hover::before {
    border-image-source: linear-gradient(40deg, var(--gredientColor) 15.5%, rgba(196, 2, 2, 0) 37.44%);
    border-image-slice: 1;
    transition: all ease-in-out 0.5s;
}

.gradient-box::after {
    // border-image-source: linear-gradient(309deg, var(--gredientColor) 15.5%, rgba(196, 2, 2, 0) 37.44%);
    transition: all ease-in-out 0.5s;

}

.gradient-box::before {
    // border-image-source: linear-gradient(120deg, var(--gredientColor) 15.5%, rgba(196, 2, 2, 0) 37.44%);
    transition: all ease-in-out 0.5s;

}



.custom-link a {
    transition: all ease 0.5s;
    color: $white;
    font-size: 2rem;
}

.custom-link a:hover {
    transition: all ease 0.5s;
    color: $primary;
    scale: 1.1;
}

.image-shadow {
    filter: drop-shadow(0px 0px 10px #ae00ffb1);
}

.card-blur {
    backdrop-filter: blur(8px);
}

.btn-svg1 {
    position: relative;
}

.btn-svg1::before {
    content: "";
    position: absolute;
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.bg-overlay-staked {
    position: relative;
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    top: 0;
    right: 0;
}

.bg-overlay-staked::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 15%;
    top: 0;
    left: 0;
    background-image: var(--eclipse-image);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 100%;
    z-index: 0;
}

.bg-overlay-mint {
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
}

.bg-overlay-mint::after {
    content: "";
    position: absolute;
    height: 67%;
    width: 15%;
    top: 0;
    right: 0;
    background-image: var(--eclipse-image);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 100%;
    z-index: 0;
}

.custom-shadow-success {
    box-shadow: 0 -0.5rem 1rem #ADFF00b1;
}

.custom-shadow-success2 {
    box-shadow: 0 0.5rem 1rem #ADFF00b1;
}

.list-open {
    height: auto;
    visibility: visible;
    transition: all 0.5s ease;

}

.list-close {
    height: 0;
    visibility: hidden;
    display: none;
    transition: all 0.5s ease;
}

.black-gradient {
    position: relative;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 2%, #000000 100%);
}

.black-gradient::after {
    content: "";
    position: absolute;
    height: 60%;
    width: 15%;
    top: 0;
    right: 0;
    background-image: var(--eclipse-image);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 100%;
    z-index: 0;
}

.black-gradient::before {
    content: "";
    position: absolute;
    height: 70%;
    width: 15%;
    bottom: 0;
    left: 0;
    background-image: var(--eclipse-image2);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 100%;
    z-index: 0;
}



@include media-breakpoint-only(xs) {
    html {
        font-size: 9px;
    }
}

@include media-breakpoint-only(sm) {
    html {
        font-size: 10px;
    }
}

@include media-breakpoint-only(md) {
    html {
        font-size: 12px;
    }
}

@include media-breakpoint-only(lg) {
    html {
        font-size: 14px;
    }
}

@include media-breakpoint-only(xl) {
    html {
        font-size: 16px;
    }
}

@include media-breakpoint-only(xxl) {
    html {
        font-size: 16px;
    }
}